body {
  background-image:url(../../assets/img/WHDQ-512095634.jpg);
  background-position:top;
  background-size:cover;
}

.jumbotron {
  margin-left:20%;
  margin-right:20%;
  margin-top:5%;
  opacity:1;
  /*background-color:#b26a31;*/
}

img {
  margin-left:40%;
  margin-top:-10%;
  margin-bottom:-5%;
}

.btn.btn-outline-danger.btn-lg {
  margin-left:5%;
}

